.pre-footer {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pre-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Post Footer */
.post-footer-wrapper {
    padding: 0 2rem 2rem 2rem;
}

.post-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eae4d8;
    padding: 2rem;
    border-radius: 1rem;
}

.post-footer-1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 4rem;
    padding-bottom: 2rem;
}

.f-col-1,
.f-col-2,
.f-col-3 {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    display: flex;
    align-items: start;
    justify-content: start;
}

.f-col-1 {
    p {
        color: var(--text-color);
        width: 25rem;
    }
}



.icon-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.icon-list-single {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;

    p {
        color: var(--text-color);
    }
}

.post-footer-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

/* Footer Gallery */
.footer-gallery {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    opacity: 1;
    padding: 1rem 1.5rem;

    p {
        color: var(--text-color);
        font-size: .875rem
    }
}

.footer-gallery-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

/* Footer Hover Images */
.footer-hover-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}

.footer-hover-img {
    position: absolute;
    width: 175px;
    height: 175px;
    pointer-events: none;
}


.footer-hover-img .mask-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    will-change: clip-path;
}

.footer-hover-img .mask-layer .image-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}