.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

/* CARD LINK */
.card {
    position: relative;
    aspect-ratio: 4 / 5;
    background: white;
    overflow: hidden;
    border-radius: 6px;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.04);
}

.cardInner {
    height: 400%;
    will-change: transform, filter;
    transition:
        transform 1.6s cubic-bezier(0.76, 0, 0.24, 1),
        filter 0.6s ease 0.2s;
}

.animating {
    filter: blur(6px) brightness(1.05);
}

.cardInner img {
    width: 100%;
    height: 25%;
    object-fit: cover;
    display: block;
}

/* FOOTER OVERLAY */
.cardFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    padding: 12px 14px;
    font-size: 0.8rem;
    font-weight: 500;
    color: white;

    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0));
}

.cardFooter svg {
    opacity: 0.8;
    transition: all 0.3s ease;

}

.cardFooter span {
    width: 100%;
    text-align: left;
    opacity: 0.4;
    stroke: rgb(0, 0, 0);
    stroke-width: 1px;
    color: white;
    transition: all 0.3s ease;
}

.card:hover .cardFooter {
    svg {
        opacity: 1;
    }

    span {
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}