.contactSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-between;
}

.firstSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: start;
}

.firstSection .row1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: start;

    h1 {
        font-size: 3rem;
        line-height: 1.2em;
        font-weight: 600;
        letter-spacing: -0.02em;
    }

    p {
        width: 30rem;
    }

}

.firstSection .row2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: start;

    h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 400;
        letter-spacing: -0.01em;
    }

    .contactFooterList {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: start;

        li {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
            text-decoration: none;
            list-style: none;

            svg {
                width: 1rem;
                height: 1rem;
            }
        }

    }
}

.secondSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: start;
}

.secondSection .row1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    justify-content: start;

    h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 400;
        letter-spacing: -0.01em;
    }
}