.results-heading {
    font-size: 4rem;
    line-height: 1.2em;
    font-weight: 600;
    letter-spacing: -0.05em;
}

.about-section h2 {
    font-size: 3rem;
    line-height: 1.2em;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.about-section p {
    font-size: 1.625rem;
    line-height: 1.2em;
    font-weight: 400;
    letter-spacing: -0.01em;
}