.page-hero {
  position: relative;
}

.page-hero-container {
  position: relative;
  height: 85vh;
  max-height: 950px;
  overflow: hidden;
}

/* Video wrapper */
.video-wrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
}

/* Video */
.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Dark overlay for text readability */
.video-overlay {
  position: absolute;
  inset: 0;
  background: #000000;
  background: linear-gradient(
    20deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.pageTitle {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 4rem;
  padding-bottom: 4vw;
}

.pageTitle-content {
  max-width: 34rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;

  p {
    color: var(--text-white-color);
    max-width: 30rem;
  }
}

.pageTitle-box {
  /* width: 16rem;
    height: 15rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--background);
}

.pageTitle-social-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--background);
    border-radius: 100px;
    scale: 1;
    transition: scale 0.4s var(--bouncingTranstion);

    svg {
      width: 1.5rem;
      height: 1.5rem;

      path {
        stroke: var(--foreground);
      }
    }

    &:hover {
      scale: 1.1;
    }
  }
}

.pageTitleInfoBox {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: stretch;
  .InfoBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h4 {
      color: var(--white);
    }
    p {
      color: var(--text-white-color);
    }
  }
  .InfoBoxDivider {
    width: 1px;
    background-color: var(--text-white-color);
    align-self: stretch;
  }
}

/* Actual page */

.ourStoryQuote {
  padding: 0.5rem 0 0.5rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: -0.01em;
  border-left: 4px solid var(--brandColor);
}

.outStoryStatsItem {
  p b {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 500;
  }
  p {
    font-size: 0.75rem;
    line-height: 1.2em;
    font-weight: 400;
  }
}
