@import "tailwindcss";

:root {
  --background: #faf4ec;
  --foreground: #161616;
  --text-color: #404040;
  --text-white-color: #c3c3c3;
  --white: #ffffff;
  --black: #000000;
  --brandColor: #9e0099;
  --container-defualt: 1440px;
  --container-max: 1920px;
  --container-padding: 1.5rem;
  --container-padding-sm: 0.5rem;
  --bouncingTranstion: cubic-bezier(0.34, 2.27, 0.64, 1);
}

/* @theme inline {
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #faf4ec;
  }
} */
html.lenis,
html.lenis body {
  height: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik), Arial, Helvetica, sans-serif;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

* {
  will-change: transform;
}

.border-rounded-xs {
  border-radius: 0.5rem;
}

.border-rounded-sm {
  border-radius: 0.8rem;
}

.border-rounded-md {
  border-radius: 1rem;
}

.border-rounded-lg {
  border-radius: 1.5rem;
}

.border-rounded-xl {
  border-radius: 2rem;
}

h1 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 4rem;
  line-height: 1.2em;
  font-weight: 600;
  letter-spacing: -0.04em;
}

h3 {
  font-size: 3rem;
  line-height: 1.2em;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: -0.01em;
}

p,
span,
a {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.2em;
  font-weight: 400;
}

h1.h1-page-title {
  font-size: 4rem;
  line-height: 1.2em;
  font-weight: 600;
  letter-spacing: -0.04em;
}

h2.sectionH2Title {
  font-size: 3rem;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: -0.03em;
}
p.sectionH2Desc {
  font-size: 1.625rem;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.results-divider {
  background-color: var(--foreground);
  width: 100%;
  height: 1px;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  inset: 0%;
}

.buttons-group {
  display: flex;
  gap: 1rem;
}

.subTitle {
  padding: 10px 12px;
  background: var(--white);
  border-radius: 0.5rem;
  color: var(--foreground);
  font-size: 0.875rem;
  font-weight: 400;
  cursor: default;
  user-select: none;
}

.subTitle.subTitleBlured {
  background-color: color-mix(in srgb, currentColor, #00000000 93%);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  color: var(--white);
}
