:root{
    --speed: 0.45s;
    --speedFast: 0.3s;
}

.rerom-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.625rem;
  padding: 0.25rem;
  border: 1px solid var(--foreground);
  border-radius: 0.375rem;
  background: transparent;
  color: var(--foreground);
  overflow: hidden;
  cursor: pointer;
  transform: skewY(0deg) rotate(0deg) scale(1);
  transition: transform var(--speed) var(--bouncingTranstion);
}

/* expanding box (initially same as arrow) */
.rerom-button .fill {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;

  width: 2rem;
  height: calc(100% - 0.5rem);
  border-radius: 0.3rem;

  background: var(--foreground);
  transition: all var(--speedFast) ease;
  z-index: 1;
}

/* text */
.rerom-button .label {
  position: relative;
  z-index: 2;
  padding-left: 0.5rem;
  transition: color var(--speedFast) ease;
}

/* arrow */
.rerom-button .arrow {
  position: relative;
  z-index: 2;

  width: 2rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--background);
  pointer-events: none;
}

/* hover = arrow box grows */
.rerom-button:hover .fill {
  width: calc(100% - 0.5rem);
  right: 0.25rem;
}

/* text color switch */
.rerom-button:hover .label {
  color: var(--background);
}

.rerom-button:hover{
    transform: skewY(-4deg) rotate(-1deg) scale(1.02);
}