.wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* CARD */
.card {
  background: #ede8db;
  border-radius: 22px;
  padding: 22px 26px;
  cursor: pointer;

  transition:
    transform 0.6s cubic-bezier(0.625, 0.05, 0, 1),
    background 0.4s ease;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  font-size: 20px;
  font-weight: 500;
}

/* ICON */
.icon {
  font-size: 18px;
  transition:
    transform 0.6s cubic-bezier(0.625, 0.05, 0, 1),
    color 0.4s ease;
}

/* CONTENT */
.contentOuter {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

.content {
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.35s ease,
    transform 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

/* OPEN */
.open .contentOuter {
  grid-template-rows: 1fr;
}

.open .content {
  opacity: 1;
  transform: translateY(0);
}

.open .icon {
  transform: rotate(45deg);
  color: #ff4d2d;
}

.open {
  transform: translateY(4px);
}
