
.banner {
      position: relative;
  width: 100%;
  height: 100svh;
  color: #141414;
  overflow: hidden;
}

.banner-img-container {
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.banner-img-container .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.banner-img-container .img.mask {
  -webkit-mask-image: url("/image_telescope/banner-img-mask.png");
  mask-image: url("/image_telescope/banner-img-mask.png");
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;
}

.banner-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  text-align: center;
  color: #e3e3db;
  z-index: 2;
}

.banner-intro-text-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  gap: 0.5rem;
  z-index: 10;
}

.banner-intro-text {
  flex: 1;
  position: relative;
  will-change: transform;
}

.banner-intro-text:nth-child(1) {
  display: flex;
  justify-content: flex-end;
}