.sticky-cards {
    position: relative;
    width: 100%;
    height: 100%;
}

.sticky-card {
    position: relative;
    width: 100%;
    min-height: 100svh;
}

.sticky-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: var(--after-opacity, 0);
    transition: opacity 0.1s ease;
    pointer-events: none;
    z-index: 2;
}

.sticky-card-header {
    h2 {
        font-size: 4rem;
        line-height: 1.2em;
        font-weight: 500;
        letter-spacing: -0.05em;
    }
}

.sticky-card-footer {
    h3 {
        font-size: 1.625rem;
        line-height: 1.2em;
        font-weight: 500;
        letter-spacing: -0.01em;
    }
}

.sticky-card-second {
    span {
        font-size: 6rem;
        font-weight: 600;
        line-height: 1.2em;
        letter-spacing: -0.05em;
        opacity: 0.1;
        color: var(--foreground);
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        border: 4px solid;
        border-color: var(--brandColor);
    }
}